<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    
			{% csrf_token %}
			<!-- <input id="search" name="q" placeholder="Search..."> -->

			<div class="col-md-6">
			<h1>Test search: elasticsearch-py - low level client</h1>
			<form method="get" action="{% url 'elasticsearchapp:search' %}">
            <div class="form-group">
                <input type="text" id="search" class="form-control" name="q" placeholder="Search..." required/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="SEARCH" />
            </div>
            </form>
            </div>

            {% if es_results %}
            <div class="col-md-6">
            <h1>Total results: {{es_total_results}}</h1>
            <div style="border: 1px solid black; margin: 10px; padding: 10px;">
            {{es_results}}
            </div>
            </div>
            {% endif %}

            <br>
            <div class="col-md-6">
            <h1>Test search: elasticsearch-dsl - hign level client</h1>
            <form method="get" action="{% url 'elasticsearchapp:dsl-search' %}">
            <div class="form-group">
                <input type="text" id="search" class="form-control" name="q" placeholder="Search..." required/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="SEARCH" />
            </div>
            </form>
            </div>
           
            {% if results %}
            <div class="col-md-6">
            <h1>Total results: {{hits}}</h1>
           {% for i in results %}
           <div style="border: 1px solid black; margin: 10px; padding: 10px;">
           <p>{{i.title}}</p>
           <p>{{i.json_object}}</p>
           <p>{{i.created}} by {{i.author}}</p>
           </div>
           {% endfor %}
           </div>
            {% endif %}
            
 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
